body {
  background-color: white;
  font: 13px/1.5 sans-serif;
  margin: 2.5em 0;
  margin-bottom: 0;
}

a, a:active, a:focus {
  unicode-bidi: embed;
  white-space: nowrap;
  outline: 0;
  color: #0645AD;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  clear: both;
  height: 0;
  border: none;
  border-bottom: 1px solid #aaa;
  margin: 0.2em 1em;
}

p {
  display: block;
  -webkit-margin-before: 1em;
}

img {
  border: none;
  vertical-align: middle;
}

ul {
  padding: 0;
}

li {
  display: inline;
  padding: 0;
  margin: 0 10px;
}

.intro {
  text-align: justify;
  vertical-align: top;
  width: 70%;
  font-size: 150%;
  margin: 0 auto;
  padding .5em 1em;
}

.otherprojects {
  font-weight: bold;
  margin: 3.7em auto;
  text-align: left;
  vertical-align: middle;
  width: 90%;
}

.otherprojects-item {
  float: left;
  height: 60px;
  min-width: 12em;
  width: 24.75%;
  line-height: 60px;
}

.otherprojects-item a {
  width: 10em;
  display: block;
  margin: 0 auto;
}

.otherprojects-item .icon {
  display: inline-block;
  width: 47px;
  text-align: center;
}

.footer {
  clear: both;
  text-align: center;
  width: 70%;
  margin: 10px auto;
  border-top: .5px solid #aaa;
}
