body {
  background-color: white;
  font: 13px/1.5 sans-serif;
  margin: 0.3em 0;
}

a {
  unicode-bidi: embed;
  white-space: nowrap;
  outline: 0;
  color: #0645AD;
  text-decoration: none;
}

p {
  display: block;
  -webkit-margin-before: 1em;
}

img {
  border: none;
  vertical-align: middle;
}

.intro {
  text-align: justify;
  vertical-align: top;
  width: 70%;
  font-size: 150%;
  margin: 0 auto;
  padding .5em 1em;
}

.otherprojects {
  font-weight: bold;
  margin: 1.5em auto;
  text-align: left;
  vertical-align: middle;
  width: 80%;
}

.otherprojects-item {
  float: left;
  height: 175px;
  width: 24.75%;
  min-width: 150px;
  max-width: 300px;
  line-height: 175px;
}

.otherprojects-item a {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.footer {
  clear: both;
  text-align: center;
  width: 70%;
  margin: 10px auto;
  border-top: .5px solid #aaa;
}
