* {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}

header {
  background-color: #D8D8D8;
  height: 15%;
}

.user-icon {
  background-color: #4A90E2;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 2.3%;
  left: 2.3%;
}

p {
  height: 20%;
  padding: 2.5%;
  font-family: sans-serif;
  font-size: 3vmin;
}

.one {
  background-color: #4A90E2;
  height: 15%;
  width: 100%;
}

.two {
  background-color: #50E3C2;
  height: 15%;
  width: 100%;
}

.three {
  background-color: #B8E986;
  height: 15%;
  width: 100%;
}

.four {
  background-color: #F8E71C;
  height: 15%;
  width: 100%;
}
